<plugin>
    <id>pm</id>
    <name>Private Message</name>
    <description>Private Message plugin for glFusion CMS</description>
    <version>3.0.0</version>
    <glfusionversion>2.0.2</glfusionversion>
    <phpversion>7.4.0</phpversion>
    <url>https://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>
